# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/

# IDE and editor files
.vscode/
.idea/

# Alembic / migrations
migrations/__pycache__/
migrations/**/__pycache__/
*.pyc

#others
.env
instance/
