body {
  background: #F7A5A5;
  color: #1A2A4F;
  margin-top: 5rem;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
  color: #1A2A4F;
}

.navbar-brand img {
    max-width: 180px;
    height: auto;
}

.navbar-bg {
  background-color: #F7A5A5;
}

/* 1. Remove border / outline */
.navbar-toggler {
    border: none;
    background: transparent;
    padding: 0.75rem;

}

.navbar-toggler:focus {
    box-shadow: none;
}

/* 2. Custom hamburger icon color (#1a2a4f) */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%231a2a4f' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    transition: transform 0.3s ease;
}

.site-header .navbar-nav .nav-link {
  color: #1A2A4F;
}

.site-header .navbar-nav .nav-link:hover {
  color: #FEF67F;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.blue-border-bottom {
  border-bottom: 1px solid #1A2A4F;
}

.content-section {
  background: #FFDBB6;
  padding: 10px 20px;
  border: 1px solid #1A2A4F;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #1A2A4F;
}

a.article-title:hover {
  color: #FFF2EF;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #1A2A4F
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.event-photo {
  height: 200px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.footer {
  border-top: 1px solid #1A2A4F;
}
.footer .footer-link {
  color:#1A2A4F;
}

.footer .footer-link a:hover {
  color:#FEF67F;
}

#map {
    height: 300px;
    width: 100%;
  }