body {
  background: #F7A5A5;
  color: #1A2A4F;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #1A2A4F;
}

.navbar-bg {
  background-color: #;
}

.site-header .navbar-nav .nav-link {
  color: #1A2A4F;
}

.site-header .navbar-nav .nav-link:hover {
  color: #FEF67F;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #FFDBB6;
  padding: 10px 20px;
  border: 1px solid #1A2A4F;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #1A2A4F;
}

a.article-title:hover {
  color: #FFF2EF;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #1A2A4F
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.event-photo {
  height: 200px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 16px;
}

#map {
    height: 300px;
    width: 100%;
  }