{% extends "layout.html" %}
        {% block content %}
<div class="section pb-2">
    <h1> Map View </h1>
</div>
<div>{{ posts }}</div>
<div id="map"></div>

<!-- Leaflet JS -->
<script 
    src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js">
</script>

<script>
    // Initialize map (centered at lat, lon with zoom level)
    const map = L.map('map').setView([52.519988698413464, 13.405002043621247], 11); // 

    // Add OSM tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const posts = {{ posts | tojson }};

    posts.forEach(post => {
        const lat = post.latitude;
        const lon = post.longitude;
        const title = post.title;

        L.marker([lat, lon])
        .addTo(map)
        .bindPopup(`<p>${title}</p>`);        
    });
</script>
    {% endblock content %}